# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.3'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      
    - name: Gosec Security Checker
    # You may pin to the exact commit or the version.
    # uses: securego/gosec@55d79496019a560e16e73e1948dee20a1fad631a
      uses: securego/gosec@v2.18.2
      with:
        # Arguments for gosec
        args: ./.. # default is -h
          
