# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.3'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      
    - name: Gosec Security Checker
      uses: securego/gosec@v2.18.2
      with:
        # Arguments for gosec
        args: ./.. # default is -h
    - name: Check code formatting using gofmt
      uses: Jerome1337/gofmt-action@v1.0.5
      with:
        # Path used by gofmt command
        gofmt-path: ./ # optional, default is ./
        # Flags to pass to gofmt, e.g. -d or -l
        #gofmt-flags: # optional, default is -l
          
